.heading{
  text-align: center;
  padding-top: 18px;
  padding-bottom: 26px;
  color: darkblue;
}

.page-background-color{
  background-color: beige;
}

.card{
  width: auto;
  margin: auto;
  max-width: 30rem!important;
  margin-bottom: 23px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.card-image{
  width: 161px;
  margin-left: 15px;
  border: 2px solid pink;
  border-radius: 16px;
}

.margin-left-15{
  margin-left: 15px;
}

.inline-flex{
  display: inline-flex;
}

.loading-text{
  text-align: center;
  color: blue;
  font-size: 14px;
  padding-top: 12px;
}